*{
font-family: JelleeBold;
	color: #665544;
	text-align: center;}
h2 {
	color:#665544;
	}
body {
	width: 90%;
	margin: 0 auto;
	background-image: url("https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fdaf093b9-8b64-4098-be35-8b5644165486_1280x720.gif");
	background-repeat:no-repeat;
	background-color:lavender;
	background-size: cover;
	background-attachment: fixed;}


li {
	display: inline;
	padding: 0.5em;}
#nav{
	background-color: #CF9FFF;
	padding: 0.5em 0;}
#feature{
	height: 10em;
	margin-bottom: 1em;
	background-color: lavender;
	opacity:0.3}
h1 {
   font-family: 'JelleeBold';
   font-weight: normal;
   font-style: normal;
   color:white
}
#home {
	position:absolute;
	top: 215px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#about {
	position:absolute;
	top: 550px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#coursework {
	position:absolute;
	top: 890px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#artifacts {
	position:absolute;
	top: 1235px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#assignments {
	position:absolute;
	top: 1580px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#contact {
	position:absolute;
	top: 1930px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#creative {
	position:absolute;
	top: 2280px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
#validated {
	position:absolute;
	top: 2630px;
	border:10px solid white;
	height: 18em;
	width: 89%;
	background-color:#8eb8fa}
	
.left {
	background-color:#fcf4c2;
	float:left;
	width:48.82%;
	padding:10px
	}
.right {
	background-color:#f4c2fc;
	float:right;
	width:48.82%;
	padding:10px
	}
h3 {
color:white}