#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:violet;
 text-align:center; 
 z-index:10;
 font-family: 'AvaraBold';
 font-weight: normal;
 font-style: normal;
}
.board {
margin-top:8%;
margin-left:10%;
margin-right:10%;
margin-bottom:5%;
}
.row{
position:relative;
margin-left:10%;
margin-right:10%;
display: flex;
align-items: center;
justify-content: center;
}
.white{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:white;
 float:left;
}
.dark{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:lavender;
 float:left;
}
#clear{
clear:both;
}
body {
 background-image:url("https://wallpaperaccess.com/full/1219623.jpg");
}
#footer {
background-color:violet;
border:solid 1px;
margin:10px;
font-family: 'AvaraBold';
font-weight: normal;
font-style: normal;
text-align:center
}
img {
margin-left: 5px;
margin-top:10px;
}
