#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:violet;
 text-align:center; 
 z-index:10;
 font-family: 'AvaraBold';
 font-weight: normal;
 font-style: normal;
}
.board {
margin-top:75px;
margin-left:430px;
}
.row{
position:relative;
margin-left:10%;
margin-right:10%;
}
.white{
 border: 1px solid black;
 width: 8%;
 height: 95px;
 background-color:white;
 float:left;
}
.dark{
 border: 1px solid black;
 width: 8%;
 height: 95px;
 background-color:lavender;
 float:left;
}
.clear{
clear:both;
}
body {
 background-image:url("https://wallpaperaccess.com/full/1219623.jpg");
}
#footer {
padding: 10px;
background-color:violet;
width:100%;
height:10%;
margin-top:15px;
margin-bottom:20px;
font-family: 'AvaraBold';
font-weight: normal;
font-style: normal;
text-align:center
}
img {
margin-top:3px;
}
